*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.container .input-field{
    width: 60%;
    padding: 7px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .Headline{
    font-size: 20px;
}

.container .delete-part{
    display: flex;
    width: 7%;
    padding: 7px;
    justify-content: space-around;
}

.container .remove{
    font-weigth: 700;
    font-size: 18px;
}